* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #202020;
}

.header {
    padding: 20px 0;
    background: #323232B2;
    backdrop-filter: blur(10px);
}

.header-container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 11px;
    text-decoration: none;
    transition: opacity .3s;
}

.header-logo:hover {
    opacity: 0.8;
}

.header-logo-text {
    color: #DEDEDE;
    font-family: Manrope, sans-serif;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.5px;
    text-transform: capitalize;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 56px;
}


.nav-link {
    color: #DEDEDE;
    font-family: Manrope, sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -0.5px;
    text-transform: capitalize;
    text-decoration: none;
    transition: color .3s ease;
}

.nav-link:hover {
    color: #00bf6f;
}

.header-hamburger {
    background: transparent;
    border: none;
    cursor: pointer;
    display: none;
}

@media (max-width:620px) {
    .header {
        padding-top: 16px;
        padding-bottom: 15px;
    }

    .nav-list {
        display: none;
    }

    .header-hamburger {
        display: flex;
    }
}

/* hero start */

.hero {
    padding-top: 130px;
    padding-bottom: 80px;
}

.hero-container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
}

.hero-info {
    max-width: 600px;
    width: 100%;
}

.hero-title {
    font-family: Manrope, sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 64px;
    line-height: 70px;
    letter-spacing: -0.5px;
    color: #fff;
    margin-bottom: 24px;
}

.hero-text {
    font-family: Manrope, sans-serif;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.5px;
    color: #959595;
    margin-bottom: 64px;
}

.hero-link {
    font-family: Manrope, sans-serif;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0px;
    background-color: #9D9D9D;
    border-radius: 4px;
    max-width: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 16px;
    text-decoration: none;
    color: #FFFFFF;
}

.hero-img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

@media (max-width:942px) {
    .hero-container {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .hero-link {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 620px) {
    .hero {
        padding-top: 72px;
        padding-bottom: 65px;
    }

    .hero-container {
        gap: 64px;
    }

    .hero-title {
        font-family: Manrope, sans-serif;
        font-weight: 700;
        font-style: Bold;
        font-size: 36px;
        line-height: 40px;
        letter-spacing: -0.5px;
        text-align: center;
        margin-bottom: 20px;
    }

    .hero-text {
        font-family: Manrope, sans-serif;
        font-weight: 500;
        font-style: Medium;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 0px;
        text-align: center;
        margin-bottom: 48px;
    }
    .hero-link {

    }
}